.navigation {
    color: white;
    font-family:"Montserrat", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

.navigation hr {
    position: relative;
    margin-top: -10px;
    width: 90%;
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation a:hover {
    color: darkgrey;
}

.navigation a:active {
    color: lightgrey;
}



.navigation ul {
    list-style: none;
}

.navigation ul li {
    display: inline;
}

.back .navigation {
    z-index: 101;
}