body {
    background-color: #657383;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
h1, h2, p, li {
    color: white;
    font-family: "Arial Black", Gadget, sans-serif;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
}
ul {
    margin-bottom: 2px;
    margin-top: 2px;
    text-align: right;
}
ul li {
    display: inline;
}
.header h1{
    text-align: center;
}
.container {
}