body {
  overflow-x: hidden;
}

.main {
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100%;
  height: 100%;
  font-family: 'Roboto Slab', serif;
  background-color: #C0BCB5;
}

.content {
  background-color: #C0BCB5;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  padding: 4px 8px;
}

.content h1 {
  margin-left: 12%;
  background-color: #3A506B;
  border-top-left-radius: 90px;
  border-bottom-left-radius: 90px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  color: #FFFFFF;
}

.content p {
  margin-left: 16%;
}

.parallax {
  height: 720px;
  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
  background-attachment: fixed;
  background-size: cover;
}

.image-1 {
  background-image: url('https://i.imgur.com/JWClxXC.jpg');
}

.starfield {
  width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
  bottom: 100vh;
	z-index: -1;
  background-color: black;
  display: inline-block;
}
